h1 {
    color: blueviolet;
}   
body {
    background-color: lavenderblush;
}
.parrafoVerde   {
    color: green;
}

p {
    color: salmon!important;
}

.parrafoVerde {
    font-size: 20px;
}

button {
    border: 2px solid black;
    box-shadow: 12px 12px 12px gray;
}

.reset-button {
    all: unset;
    background-color: lightblue;
    color: wheat;
}


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

a{
    all: unset;
    color: green;
    background-color: lightgray;
    color: darkmagenta;
}
a:hover {
    /* Prioriza la imagen de Bob Esponja, si falla, usa 'alias' */
    cursor: url('https://www.clipartmax.com/middle/m2i8b1i8G6K9G6b1_gfycat-url-bob-esponja-fondo-blanco/'), alias;
    background-color: #FF9900; /* Un naranja vibrante */
    color: white;
    padding: 2px 5px;
    border-radius: 4px;
    transition: all 0.3s ease; /* Para que el color no cambie de golpe */
}

.caja {
    width: 200px;
    height: 100px;
    border: 3px solid black;
    background-color: lightyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}